<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <script
      src="https://kit.fontawesome.com/1e7dc2d332.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="body">
      <header class="main__header">
        <div class="main__header-top-bar">
          <div class="loc">
            <img
              class="logo"
              src="/images/logo-mercado-liebre.svg"
              alt="Logo de Mercado Liebre"
            />
            <form action="">
              <input
                type="text"
                class="header__search-bar"
                name="header__search-bar"
                placeholder="Buscar productos, marcas..."
              />
              <i class="fa-solid fa-magnifying-glass"></i>
            </form>
          </div>
          <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>

        <div class="hamburger-button">
          <i class="fas fa-bars"></i>
        </div>

        <nav class="main__nav-bar">
          <ul class="left__nav-bar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="right__nav-bar">
            <li>
              <a href="/register"
                >Creá tu cuenta <i class="fa-solid fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="/login"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Mis compras <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <img
          class="header-banner"
          src="/images/img-home-banner.jpg"
          alt="banner"
        />
        <h2>Basado en tu última visita</h2>

        <section class="products-section">
          <article class="product">
            <img
              class="product__image"
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex"
            />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$6.770</p>
              <p class="product__discount">40% OFF</p>
              <h3 class="product__description">Cafetera Moulinex</h3>
            </div>
          </article>

          <article class="product">
            <img src="/images/img-macbook-pro-2019.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$230.000</p>
              <p class="product__discount">20% OFF</p>
              <h3 class="product__description">MacBook Pro 2019</h3>
            </div>
          </article>

          <article class="product">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$70.500</p>
              <p class="product__discount">10% OFF</p>
              <h3 class="product__description">Samsung Galaxy S10</h3>
            </div>
          </article>

          <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>

              <p class="product__price">$23.200</p>
              <p class="product__discount">5% OFF</p>
              <h3 class="product__description">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </section>

        <h2>Ofertas</h2>

        <section class="products-section">
          <article class="product">
            <img src="/images/img-cafetera-moulinex.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$6.770</p>
              <p class="product__discount">40% OFF</p>
              <h3 class="product__description">Cafetera Moulinex</h3>
            </div>
          </article>

          <article class="product">
            <img src="/images/img-macbook-pro-2019.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$230.000</p>
              <p class="product__discount">20% OFF</p>
              <h3 class="product__description">MacBook Pro 2019</h3>
            </div>
          </article>

          <article class="product">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$70.500</p>
              <p class="product__discount">10% OFF</p>
              <h3 class="product__description">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" alt="" />
            <div class="product-general">
              <i class="fa-solid fa-truck product-delivery-icon"></i>
              <p class="product__price">$23.200</p>
              <p class="product__discount">5% OFF</p>
              <h3 class="product__description">SmartTv Samsung 43"</h3>
            </div>
          </article>
        </section>
      </main>

      <footer class="footer">
        <section class="footer__section">
          <article class="footer__details">
            <i class="fa-solid fa-credit-card"></i>
            <p class="footer__description">Pagá con tarjeta o en efectivo</p>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </article>
          <article class="footer__details">
            <i class="fa-solid fa-gift"></i>
            <p class="footer__description">Envío gratis desde $ 2.500</p>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </article>
          <article class="footer__details">
            <i class="fa-solid fa-user-shield"></i>
            <p class="footer__description">Seguridad, de principio a fin</p>
            <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
          </article>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </footer>
    </div>
  </body>
</html>
